@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}
body {
  padding: 10px;
  font-size: 14px;
  font-family: inherit;
}
@media (max-width: 768px) {
  body {
    font-size: 12px;
  }
}
